/* tags */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

button {
    background-color: #3882F6;
    color: white;
    padding: 4px 12px;
    border-radius: 5px;
    border-style: none;
    
    
}

a {
    text-decoration: none;
    color: #E5E7EB;
}


/* classes */

.header, .footer {
    background-color: #1F2937;
    color: #E5E7EB
}

.header, .content, .quote, .ad, .footer {
    display: flex;
    flex-direction: column;
    padding: 10px 100px;
}



.navbar {
    display: flex;
    justify-content: space-between;
    
}

.logo {
    font-size: 24px;
}

.links {
    display: flex;
    gap: 8px;
}

.header-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
    flex: 1 0 auto;
  
}

.description {
    
    display: flex;
    flex-flow: column wrap;
    flex: 2;
    width: 400px;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
}

.logo, .awesome {
    color: #F9FAF8;
}

.image {
    width: 500px;
    background-color: lightslategray;
    display: flex;
    justify-content: center;
    flex-shrink: 0;
}

.image, .description {
    padding: 50px 0px;
    align-self: center;
    flex: initial;
}





.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
}

.quote {

    background-color: #E5E7EB;
    font-weight: light;
    font-style: italic;
    font-size: 36px;
}



.footer {
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-size: 12px;
}