/* tags */
body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

ul {
    list-style-type: none;
    padding: 0px;
    margin: 0px;
}

button {
    background-color: #3882F6;
    color: white;
    
}


/* classes */
.header, .footer {
    background-color: #1F2937;
    color: #E5E7EB
}

.header {
    display: flex;
}

.navbar {
    display: flex;
}

.logo {
    font-size: 24px;
}

.header-body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.awesome {
    font-size: 48px;
    font-weight: bolder;
}

.logo, .awesome {
    color: #F9FAF8;
}

.content {
    display: flex;
}

.info {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937
}

.quote {
    display: flex;
    background-color: #E5E7EB;
    font-weight: light;
    font-style: italic;
    font-size: 36px;
}

.ad {
    display: flex;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    font-size: 12px;
}